<p>
  <input type="datetime-local" id="timeset_start" value="<%= timeset[0]%>" min="<%= minmax[0]%>" max="<%= minmax[1]%>"/> ~
  <input type="datetime-local" id="timeset_end" value="<%= timeset[1]%>" min="<%= minmax[0]%>" max="<%= minmax[1]%>"/>
  
</p>
<p id="fieldcolor"> 
  <% for(var x = 0; x < channel.index.length ; x++) {%>
    <% for(var y = 0 ; y < 9 ; y++) { %>
      <% if(channel.index[x] == y) {%> 
        <% if(y == 1) {%>
          <%= channel.field1 %><input id="<%= y %>", type="checkbox"  value="<%= y%>" checked>
        <%} else if(y == 2) {%>
          <%= channel.field2 %><input id="<%= y %>", type="checkbox" value="<%= y%>" checked>
        <%} else if(y == 3) {%>
          <%= channel.field3 %><input id="<%= y %>", type="checkbox" value="<%= y%>" checked>
        <%} else if(y == 4) {%>
          <%= channel.field4 %><input id="<%= y %>", type="checkbox" value="<%= y%>" checked>
        <%} else if(y == 5) {%>
          <%= channel.field5 %><input id="<%= y %>", type="checkbox" value="<%= y%>" checked>
        <%} else if(y == 6) {%>
          <%= channel.field6 %><input id="<%= y %>", type="checkbox" value="<%= y%>" checked>
        <%} else if(y == 7) {%>
          <%= channel.field7 %><input id="<%= y %>", type="checkbox" value="<%= y%>" checked>
        <%} else if(y == 8) {%>
          <%= channel.field8 %><input id="<%= y %>", type="checkbox" value="<%= y%>" checked>
        <%}%>      
      <%}%>
    <%}%>
  <%}%>
  
<button onclick="sendtime(this.id)" id="<%= channel.channelKey%>" class="checkbutton">확인</button>
</p>
<% if(channel !=  null) {%>
    <table> 
        <tr><td colspan="<%= 2 %>"><%= channel.name %> : 번호 <%= channel.channelKey %></td></tr>
        <tr>
          <td> 날짜 </td>
          <td> 시간 </td>
          <% for(var x = 0; x < check.length ; x++) {%>
            <% for(var y = 0 ; y < 9 ; y++) { %>
              <% if(check[x] == y) {%>
                <% if(y == 1) {%>
                  <td> <%= channel.field1 %> </td>
                <%} else if(y == 2) {%>
                  <td> <%= channel.field2 %> </td>
                <%} else if(y == 3) {%>
                  <td> <%= channel.field3 %> </td>
                <%} else if(y == 4) {%>
                  <td> <%= channel.field4 %> </td>
                <%} else if(y == 5) {%>
                  <td> <%= channel.field5 %> </td>
                <%} else if(y == 6) {%>
                  <td> <%= channel.field6 %> </td>
                <%} else if(y == 7) {%>
                  <td> <%= channel.field7 %> </td>
                <%} else if(y == 8) {%>
                  <td> <%= channel.field8 %> </td>
                <%}%>      
              <%}%>
            <%}%>
          <%}%>
        </tr>
        <% if (check != "") {%>
          <% for(var x = 0; x < temperature.length ; x++ ) {%>
            <tr>
              <% if( x == 0) {%>
                <td > <%= time[x][0]%> </td>
              <% } else if (time[x-1][0] != time[x][0]) {%>
                <td> <%= time[x][0]%> </td>
              <%} else {%>
                <td></td>  
              <%}%>
              <td> <%= time[x][1]%> </td>
              <% for(var y = 0; y < check.length ; y++) {%>
                <% for(var z = 1 ; z < 9 ; z++) { %>
                  <% if(check[y] == z) {%>
                    <% if(z == 1) {%>
                      <td><%= temperature[x].field1 %> </td>
                    <%} else if(z == 2) {%>
                      <td> <%= temperature[x].field2 %> </td>
                    <%} else if(z == 3) {%>
                      <td> <%= temperature[x].field3 %> </td>
                    <%} else if(z == 4) {%>
                      <td> <%= temperature[x].field4 %> </td>
                    <%} else if(z == 5) {%>
                      <td> <%= temperature[x].field5 %> </td>
                    <%} else if(z == 6) {%>
                      <td> <%= temperature[x].field6 %> </td>
                    <%} else if(z == 7) {%>
                      <td> <%= temperature[x].field7 %> </td>
                    <%} else if(z == 8) {%>
                      <td> <%= temperature[x].field8 %> </td>
                    <%}%>      
                  <%}%>
                <%}%>
              <%}%>
            </tr>
          <%}%>
        <%}%>
    </table>
<%} else {%>
    <h1/>체널을 선택해주세요
<%}%>
